# The port in which the server will be available
PORT="5000";
# Defines if the htmls will be rebuilded or not when the projects starts. I recommend establish this in 'true' for prod
REBUILD_ON_START=false
# The stripe api key
STRIPE_API_KEY="falseKey123"
# The stripe payment link id
P_LINK="plink_myFalsePLink"
# The current environment in which the application is being executed
NODE_ENV="development"
# Time interval in seconds in which the HTMLs will be rebuilded, updating the data
REBUILD_TIME_S="15"